.matricula-texto-paragrafo{
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 29px;
    align-items: center;
    text-align: center;

    margin-bottom: 1em;
}